/* Geral */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    background: linear-gradient(to right, #1b666b, #1c8673);
    text-align: center;
}
main{
    margin-top: 5vh;
}
/* Relógio */

#clock{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}
img{
    width: 500px;
}
.timer{
    width: 190px;
    height: 190px;
    background: linear-gradient(-45deg, #20e36e, #34c2cc, #2dd6b8, #1cdf84) no-repeat;
    background-size: 300% 300%;
    animation: none;
    animation: gradient 0s ease-in-out  infinite  alternate-reverse;
    border-radius: 50%;
    position: absolute;
    top: 125px;
    left: 102.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.timer.pause{
    background: rgb(206, 62, 62);
}
h1{
    font-size: 2.8rem;
    margin-top: 20px;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* Título */

h2{
    text-shadow: 1.5px 1.5px 2px black;
    color: white;
    font-size: 2.6rem;
}
/* Créditos */

footer h3{
    margin-top: 15px;
    font-size: 1.6rem;
    color: white;
}
/* Botões */

#info{
    margin-top: 20px;
}
button{
    cursor: pointer;
    width: 50px;
    margin-left: 10px;
    font-size: 2.2rem;
    border: none;
    border-radius: 50%;
    padding: 5px;
    color: black;
    background-color: rgba(0, 0, 0, .0);
    animation: surgir .9s linear forwards;
}
#btn-1, #btn-2{
    display: inline-block;
}
#btn-3, #btn-4{
    display: none;
}
/* Voltas */

ul{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 90%;
    color: teal;
}
li{
    background: linear-gradient(-45deg, #20e36e, #34c2cc, #2dd6b8, #1cdf84) no-repeat;
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    font-size: 2rem;
    color: black;
    font-weight: 900;
    padding: 8px 4px;
}
/* Medias */

@media screen and (max-width: 495px){
   img{
       width: 400px;
   }
   html{
       font-size: 50%;
   }
   #clock{
       width: 320px;
   }
   .timer{
       width: 155px;
       height: 155px;
       left: 80px;
       top: 100px;
   }
   main{
       overflow: auto;
   }
}
/* Animações */

@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

@keyframes surgir{
    0%{
        opacity: 0;
    }
    50%{
        opacity: .7;
    }
    100%{
        opacity: 1;
    }
}